@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

 input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
